.card {
      width: 90%;
      margin-top: 10px;
      padding: 10px 0px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
.btn-send {
      width: 100%;
    }
.form-container {
      max-width: 800px;
    }