<div class="sidebar bg-white shadow-sm p-3" style="width: 99%; height: 90vh;">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/home'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Home
      </a>
    </li>
    <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/courses'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example Manage icon" fontIcon="manage_accounts"></mat-icon>Courses
      </a>
    </li>
    <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/notes'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example List icon" fontIcon="library_add"></mat-icon> Notes
      </a>
    </li>
    <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/assignments'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example Upload icon" fontIcon="upload"></mat-icon>Assignments
      </a>
    </li>
    <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/quiz'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example Quiz icon" fontIcon="quiz"></mat-icon>Quiz
      </a>
    </li>
     <li class="nav-item mb-2">
      <a 
        [routerLink]="'/student/dashboard/queries'" 
        class="nav-link d-flex align-items-center text-dark" 
        routerLinkActive="active-link" 
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon aria-hidden="false" aria-label="Example Queries icon" fontIcon="question_mark"></mat-icon>Queries
      </a>
    </li>
  </ul>
</div>
